~NORMAL
~DELETE LOGO;*ALL
~CONFIG
TOP/BOTTOM MARGIN;0
LEFT MARGIN;0
SLASH ZERO;1
END
~NORMAL
~CREATE;LAB;432
BARCODE
C128A;X1.5;H17;DARK;1;3.5;
*QEF 000038*
STOP
BOX		
1;11;1;19.5;37			
STOP
VERT
1;4.5;11;19.5
STOP
VERT
1;14;11;19.5
STOP
VERT
1;33;11;19.5
STOP
VERT
1;29;11;19.5
STOP
VERT
1;33;11;19.5
STOP
ALPHA
E;C15;CW;12.5;2.5;0;0;*MADE IN CHINA*
STOP
ALPHA
E;C15;CW;11.5;6.2;0;0;*LJDDAA2F0H0000038*
STOP
ALPHA
C17;CW;11.5;9;0;0;*VIN:*
STOP
FONT;BOLD ON;SLANT OFF
ALPHA
E;C16;CW;11.5;11.2;0;0;*S4ZDZ7Z*
STOP

ALPHA
E;C16;CW;16.5;11.2;0;0;*G002*
STOP
ALPHA
C17;CW;11.5;14;0;0;*SPEC:        O.C.N:*  
STOP
FONT;BOLD ON;SLANT OFF
ALPHA
E;C16;CW;11.5;16.2;0;0;*A07A*
STOP
ALPHA
E;C16;CW;14.5;16.2;0;0;*VA*
STOP
ALPHA
E;C16;CW;17.5;16.2;0;0;*UD*
STOP
ALPHA
C17;CW;11.5;19;0;0;*NATION: IN-CLR OUT-CLR*
STOP
ALPHA
E;C10;CW;11.5;20.5;0;0;*D1701QE02*
STOP
ALPHA
C17;CW;11.5;23;0;0;*ORDER:*  
STOP
FONT;BOLD ON;SLANT OFF
ALPHA
E;C10;CW;11.5;26;0;0;*QEF 000038*
STOP
ALPHA
C17;CW;11.5;29;0;0;*BODY NO:*
STOP
FONT;BOLD ON;SLANT OFF
ALPHA
E;C14;CW;12.5;30.3;0;0;*G002*
STOP
ALPHA
C17;CW;11.5;33;0;0;*O.C.N:*  
STOP
FONT;BOLD ON;SLANT OFF
ALPHA
E;C10;CW;11.5;35;0;0;*HORKI  EV*
STOP
END
~EXECUTE;LAB
~NORMAL